<meta charset="UTF-8">
<title>Basic SSH</title>

<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link rel="stylesheet" href="//bootswatch.com/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.rawgit.com/sourcelair/xterm.js/master/dist/xterm.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
<style>
    .terminal {
        font-family: 'Inconsolata', monospace !important;
    }
</style>
<script src="//cdn.rawgit.com/sourcelair/xterm.js/master/dist/xterm.js"></script>
<script src="//cdn.rawgit.com/sourcelair/xterm.js/master/dist/addons/fit/fit.js"></script>
