<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<body>

<header>
    <% include ./partials/header %>
</header>
<div class="container">
    <main>
        <div id="console" style="padding: 20px; background: black;">

        </div>

        <div id="controls" style="float: right">
            <br>
            <a href="#" class="btn btn-warning" onclick="terminalPrompt()">Prompt</a>
            <a href="/clear/<%= id %>" class="btn btn-danger">clear</a>
            <a href="/terminate/<%= id %>" class="btn btn-danger">Terminate</a>
        </div>
        <div id="willSend">

        </div>
        <div style="clear: both"></div>
        <script>
          var time = 0;
          var willSend = [];
          var terminal = new Terminal();
          var docWillSend = document.getElementById('willSend');
          terminal.open(document.getElementById('console'));

          function t(data) {
            willSend.push(data);
            docWillSend.innerText = willSend.join(" ");
          }

          function r(data) {
            return t(data + '\n');
          }


          var send = false;
          function update() {
            if (send == true) {
              return;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/sync/<%= id %>/' + time, true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.onreadystatechange = function () {
              if (xhr.readyState == 4) {
                var data = JSON.parse(xhr.response);
                data.forEach(function (data) {
                  time = data.time;
                  if (data.pipe == 'stdout') {
                    terminal.write(data.data);
                  } else if (data.pipe == 'stderr') {
                    terminal.write(data.data);
                  } else if (data.pipe == 'exit') {
                    terminal.write('ssh has been terminated!');
                  }
                });
                send = false;
                docWillSend.innerText = "";
              }
            }
            xhr.send(JSON.stringify({message: willSend.join("")}));
            willSend = [];
            send = true;
          }

          console.log('use t function to send data ex: t(\'echo hi\\n\')');
          console.log('use r function to send data with \\n ex: r(\'echo hi\')');

          function terminalPrompt() {
            var p = prompt();
            if (p != null && p != "") {
              t(p + "\n");
            }
          }

          terminal.on('key', function (key, ev) {
            t(key);
          });

          setInterval(update, <%= speed %>);
          update();
        </script>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
</div>
</body>
</html>