<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<body>

<header>
    <% include ./partials/header %>
</header>
<div class="container">
    <main>
        <div class="jumbotron">
            <h1>Error!</h1>
            <p>
                <%=message%>
            </p>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
</div>
</body>
</html>